# ไฟล์ขยะของ Python (ไม่ต้องเอาขึ้น)
__pycache__/
*.py[cod]

# ฐานข้อมูล (เก็บไว้ที่เครื่องเราพอ ไม่ต้องเอาขึ้น)
db.sqlite3

# โฟลเดอร์ Environment (ถ้ามี)
env/
venv/
.env

# โฟลเดอร์ของ VS Code
.vscode/